h1{
    color: black;
    font-size: 2cm;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: end;
    margin-right: 10px;
    margin-top: 1px;

}

h2 { 
    font-family: 'Times New Roman', Times, serif;
    font-style: italic; 
    font-size: xx-large;
    text-align: center;

}

p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;  
    font-size: 30px ;
    margin-right: 2px ;

}
.santé {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40% ;
}
body {
    background-color: #FFEBCD;
}